body {
    font-family: 'Inter-Regular';
    font-style: normal;
}

.dp-flex {
    display: flex;
}

.margin-5 {
    margin: 5px;
}

.margin-20 {
    margin: 20px;
}

.padding-5 {
    padding: 5px;
}

.padding-30 {
    padding: 30px;
}

.contacts--addContact {
    background-clip: content-box;
    display: flex;
    justify-content: center;
    width: 1000px;
}

.contacts--addContact__leftBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #2A3647;
    padding: 50px;
    width: 33%;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.contacts--addContact__leftBox--image {
    width: 65px;
}

.contacts--addContact__leftBox--textLine1 {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contacts--addContact__leftBox--textLine2 {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 120%;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.contacts--addContact__rightBox {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    width: 67%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.contacts--addContact__rightBox--oben {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.close {
    margin-right: 50px;
    margin-top: 25px;
}

.contacts--addContact__rightBox--mitte {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: block;
    margin-top: 0em;
}

.contacts--addContact__rightBox--userPic {
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D1D1D1;
    border: solid 2px white;
}

.contacts--addContact__rightBox--unten {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.contacts--addContact__rightBox--input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    width: 422px;
    height: 271px;
    left: 737px;
    top: 129px;
}

.contacts--inputFields {
    border: 0px;
    background-color: #F5F5F5;
    outline: none;
}

.contacts--addContact__rightBox--input__name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #F5F5F5;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.contacts--addContact__rightBox--input__email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #F5F5F5;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.contacts--addContact__rightBox--input__phone {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    background: #F5F5F5;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.contacts--addContact__rightBox--createContact {
    padding: 10px;
    gap: 10px;
    width: 200px;
    height: 50px;
    background: #2A3647;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border: 0px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.contacts--addContact__rightBox--createContact:hover {
    background: #29ABE2;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.contacts--addContact__rightBox--closePopup {
    padding: 10px;
    gap: 10px;
    width: 140px;
    height: 50px;
    color: #2A3647;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border: 1px solid #2A3647;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.contacts--addContact__rightBox--closePopup:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.contacts--editContact__rightBox--editContact {
    padding: 10px;
    gap: 10px;
    width: 140px;
    height: 50px;
    background: #2A3647;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border: 0px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.contacts--editContact__rightBox--editContact:hover {
    background: #29ABE2;
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.id-body--main {
    display: flex;
    height: 100vH;
    justify-content: flex-start;
}

.contacts--main__left {
    position: relative;
    overflow: scroll;
    left: 0;
    display: flex;
    width: 440px;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.contacts--main__right {
    position: fixed;
    overflow: hidden;
    top: 0px;
    margin-left: 440px;
    display: flex;
    width: 100vH;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contacts--main__rightTop {
    font-size: 3em;
    gap: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
}

.contacts--main__rightCenter {
    width: 100%;
    height: 100%;
    background-color: #F6F7F8;
}

.contacts--main__rightTop--Text1 {
    font-size: 2rem;

}

.contacts--main__rightTop--Text2 {
    font-size: 1.5rem;

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
    background-color: darkgrey;
}

.contacts--editContact__leftBox--textLine1 {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 5px;
}

.contacts--main__rightBox--newContactButton {
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    width: 170px;
    height: 50px;
    background: #2A3647;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border: 0px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.contacts--main__rightBox--newContactButton:hover {
    background: #29ABE2;
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}