.legal_not {
    height: 935px;
    top: 89px;
    padding-left: 232px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
}

.legal_notice {
    padding-top: 82px;
    padding-left: 123px;
    display: flex;
    justify-content: space-between;
}

.notice {
    width: 371px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
}

.cont_arrow {
    padding-bottom: 23px;
    padding-right: 128.17px;
}

.arrow{
    cursor: pointer;
}

.sub {
    padding-top: 48px;
    padding-left: 115px;
    padding-right: 124px;
}

.sub span {
    height: 32px;
    font-weight: 700;
    font-size: 27px;
}

.sub a {
    font-weight: 400;
    font-size: 16px;
}