body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.size {
    font-size: 21px;
}

.light {
    font-family: Inter-Light;
}

.add-task {
    width: 1116px;
    height: 700px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-family: Inter-Bold;
}

.add-task h1 {
    font-size: 61px;
    margin-top: 74px;
    margin-left: 74px;
}

.left-container {
    margin-left: 74px;
}

.title {
    margin-bottom: 10px;
}

.title-input {
    height: 51px;
    width: 380px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
}

.description-area {
    max-width: 380px;
    min-width: 380px;
    max-height: 81px;
    min-height: 81px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-right: 21px;
}

.category-btn {
    height: 51px;
    width: 424px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
    background-color: transparent;
    text-align: left;
}

.popup-arrow {
    height: 10px;
    margin-left: 150px;
}