body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.main {
    display: flex;
    justify-content: center;
}

.size {
    font-size: 21px;
}

.light {
    font-family: Inter-Light;
}

.regul {
    font-family: Inter-Regular;
}

.transp {
    background-color: transparent;
}

.add-task {
    width: 1116px;
    height: 914px;
    font-family: Inter-Bold;
}

.pop-up {
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.add-task h1 {
    font-size: 61px;
    margin-top: 74px;
    margin-left: 74px;
}

.padding-10 {
    padding-left: 10px;
}

.left-container {
    margin-left: 84px;
    border-right: 2px solid #d1d1d1;
    padding-right: 65px;
    height: 669px;
}

.title {
    margin-bottom: 10px;
}

.title-input {
    height: 51px;
    width: 380px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
}

.description-area {
    max-width: 380px;
    min-width: 380px;
    max-height: 81px;
    min-height: 81px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-right: 21px;
}

.category-btn {
    width: 424px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: left;
}

.btn {
    cursor: pointer;
    background-color: white;
    border: unset;
    border: 1px solid #d1d1d1;
    height: 51px;
    border-radius: 10px;
}

.popup-arrow {
    height: 10px;
    display: flex;
    float: right;
    margin-top: 9px;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.right-container {
    margin-left: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prio {
    width: 136px;
}

.prio-btns {
    display: flex;
    justify-content: space-between;
    width: 424px;
}

.subtask-img {
    position: relative;
    left: -40px;
    cursor: pointer;
}

.btn-box {
    display: flex;
    height: 61px;
    width: 422px;
    justify-content: flex-end;
}

.window-btn {
    border: unset;
    border: 1px solid #2A3647;
    border-radius: 10px;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.ok-btn {
    background-color: #2A3647;
    color: white;
}

.subtasks {
    display: flex;
    flex-direction: row;
}

.checkbox {
    width: 16px;
}