body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5F5F5;
}

.main {
    display: flex;
    justify-content: center;
}

.d-none {
    display: none !important;
}

.size {
    font-size: 21px;
}

.light {
    font-family: Inter-Light;
}

.left-width {
    width: 424px;
}

.regul {
    font-family: Inter-Regular;
}

.transp {
    background-color: transparent;
}

.transp:hover {
    color: #29ABE2;
}

.unsetBorder {
    border: unset;
}

.checkbox {
    height: 16px;
}

.add-task {
    width: 1116px;
    height: 914px;
    font-family: Inter-Bold;
}

.pop-up {
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.add-task h1 {
    font-size: 61px;
    margin-top: 74px;
    margin-left: 74px;
}

.padding-10 {
    padding-left: 10px;
}

.padding-left {
    padding-left: 220px;
}

.margin-10r {
    margin-right: 10px;
}

.space {
    justify-content: space-between;
}

.left-container {
    margin-left: 84px;
    border-right: 2px solid #d1d1d1;
    padding-right: 65px;
    height: 669px;
}

.title {
    margin-bottom: 10px;
}

.avatar {
    padding-top: 22px;
    display: flex;
    overflow-x: auto;
    max-width: 424px;
}

.title-input {
    height: 51px;
    width: 380px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
}

.description-area {
    max-width: 380px;
    min-width: 380px;
    max-height: 81px;
    min-height: 81px;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-right: 21px;
}

.category-btn {
    width: 424px;
    padding-left: 21px;
    padding-right: 21px;
    text-align: left;
}

.category-list {
    width: 422px;
    text-align: left;
    overflow-y: auto;
    transition: all 225ms;
}

.list-elemnt {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 21px;
    padding-right: 21px;
}

.list-elements-height {
    display: flex;
    align-items: center;
    height: 37px;
}

.list-elemnt:hover {
    background-color: lightgrey;
    border-radius: 9px;    
}

.btn {
    cursor: pointer;
    background-color: white;
    border: unset;
    border: 1px solid #d1d1d1;
    height: 55px;
    border-radius: 10px;
}

.cat-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
}

.list {
    padding-left: 0px;
    cursor: pointer;
    background-color: white;
    border: unset;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 5px;
}

.list-height {
    height: 188px;
}

.popup-arrow {
    height: 12px;
    display: flex;
    float: right;
    margin-top: 8px;
}

.input-container {
    display: flex;
    flex-direction: row;
}

.right-container {
    margin-left: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prio {
    width: 136px;
}

.prio-btns {
    display: flex;
    justify-content: space-between;
    width: 424px;
}

.subtask-img {
    position: relative;
    left: -40px;
    cursor: pointer;
}

.btn-box {
    display: flex;
    height: 61px;
    width: 422px;
    justify-content: flex-end;
}

.window-btn {
    border: unset;
    border: 1px solid #2A3647;
    border-radius: 10px;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.window-btn:hover {
    border: 2px solid #29ABE2;
}

.ok-btn {
    background-color: #2A3647;
    color: white;
}

.ok-btn:hover {
    background-color: #29ABE2;
    border: unset;
}

.subtasks {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}

.subtaskArea {
    height: 176px;
    width: 422px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.checkbox {
    width: 16px;
}

.prio-btns button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.prio-img img {
    filter:brightness(11.5) ;
}

.visibility:focus-visible {
    outline: none;
}

.cross {
    top: -42px;
    position: relative;
    left: 350px;
    border-right: 2px solid lightgrey;
}

.newCategory {
    height: 18px;
    position: relative;
    top: -50px;
    left: 356px;
}

.filter {
    filter: invert();
}

.prio-urgent {
    background-color: #FF3D01;
    color: white;
}

.prio-medium {
    background-color: #FFA802;
    color: white;
}

.prio-low {
    background-color: #7AE229;
    color: white;
}

.transp img:hover {
    filter: invert(0.8);
}

.colorCode {
    margin-top: -15px;
    display: flex;
    margin-left: 8px;
}

.color-btn {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.color-btn2 {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 2px solid white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.color-btn:hover {
    transform: scale(1.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.color-btn:focus {
    transform: scale(1.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}