/**login style*/
body{
    position: relative;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#passwordImg:hover{
cursor: pointer;
}
.logo_login2{
    width: 80px;
    height: 99px;
    position: absolute;
    left: 40px;
    top: 17px;
    scale: 1;
}

.resetText{
    padding-bottom: 24px;
}
.logo_signUp{
 position: absolute;
    z-index: 11;
        left: 50px;
    top: 43px;
    width: 107px;
    height: 58px;
    scale: 1.6;
}
.logo{
   
    width: 80px;
    height: 99px;
    position: absolute;
    left: 47%;
    top: 44%;


    

    /* position: absolute;
    
    left: 50%;
    top: 50%; */
    z-index: 1;
    scale: 1.6;
    transition: all 0.8s ease-in-out;
}

.bgByResponse{
    position: absolute;
    background-color: #091931;
    z-index: 80;
    opacity: 0.2;
    width: 100vw;
    height: 100vh;
}
.animated-login-response {
    animation: slideToCenter 325ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideToCenter {
    from {
        top: 100vh;
    }
    to {
        top: calc(100% - 50vh - 40px);
    }
}
.login-response{
    position: absolute;
    top: 100vh;
    left: calc(100% - 50vw - 109px);
    z-index: 100;
    height: 59px;
    width: 245px;
    font-size: 23px;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 400;
    background-color: #091931;
    border: 1px solid #091931;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-response span{
    font-size: 20px;
}
.signup-btn{
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 245px;
}

.signup-btn button{
    height: 38px;
    width: 94px;
    font-size: 17px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931;
    cursor: pointer;
}

.signup-btn button:hover{
    background-color: #29abe2;
   border: none;
}
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    height: 435px;
    width: 582px;
    position: relative;
}

.sendMailBtn{
    height: 48px;
    width: 235px;
    font-size: 19px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931;
    cursor: pointer;
}

.sendMailBtn:hover{
    background-color: #29abe2;
    border: none;
}
.reset-box-header{
    padding-bottom: 20px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 47px;
}

.login-box-header{
    padding-bottom: 20px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 60px;
}
.login-box span{
    text-align: center;
}

.login-box h1{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.line{
    width: 150px;
    height: 35px;
    border-top: 3px solid #29abe2;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-box{
    height: 478px;
}

.reset-box{
    width: 571px;
    height: 381px;
    padding: 14px;
}


.reset-box img{
    left: 2.67%;
    top: 5.59%;
}
.form-style{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 47px;
    width: 422px;
    margin-bottom: 40px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.form-reset-pw{
    margin-top: 24px;
}

.form-style input{
    border: none;
    width: 86%;
    height: 43px;
    outline: none;
}
.password-note{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 12.5px;
    width: calc(161px * 2 + 12.5px * 2);
}
.remember-password input{
    margin-right: 20px;
    height: 16px;
    width: 16px;
}

.forgot-password a{
    color: #29ABE2 !important;
    cursor: pointer;
}
.login-user{
    height: 51px;
    width: 161px;
    font-size: 21px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931;
    cursor: pointer;
}

.login-user:hover{
   background-color: #29abe2;
   border: none;
}

.login-guest{
    height: 51px;
    width: 161px;
    font-size: 21px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #091931;
    font-weight: bold;
    border: 1px solid #091931;
    margin-left: 12.5px;
    cursor: pointer;
}

.login-guest:hover{
    color: #29abe2;
    border: #29abe2 solid 1px;
}

.signup-user{
        height: 47px;
        width: 145px;
        font-size: 21px;
        border-radius: 8px;
        color: #FFFFFF;
        font-weight: bold;
        background-color: #091931;
        border: 1px solid #091931;
}

.arrowSignup{
    position: absolute;
    position: absolute;
        left: 2.67%;
    top: 5.59%;
    cursor: pointer;
}

#msgBox{
    position: absolute;
    bottom: 80px;
}

button{
    cursor: pointer;
}

.d-none{
    display: none;
}