<div class="task" draggable="true" onclick="TODO()">
    <div class="taskCategoryView">Design</div>
    <p class="taskTitle">Website redesign</p>
    <span class="taskDescription"
        >this ist the small description about the task</span
    >
    <div id="taskSubtasks" class="taskSubtask d-none">
        <div class="taskSubtask-progressbar">
            <div class="progress-color" style="width: 15%"></div>
        </div>
        <p>3/20 Done</p>
    </div>
    <div id="taskUser" class="taskUser">
        <div
            class="contact--left__UserAvatar margin-10r"
            style="background-color: #a0a311 !important"
        >
            <span class="contact-initials">SE</span>
        </div>
        <div
            class="contact--left__UserAvatar margin-10r"
            style="background-color: #a0a311 !important"
        >
            <span class="contact-initials">SE</span>
        </div>
    </div>
</div>
